body {
  background-color: rgb(244, 251, 252);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
h1 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
  color: rgb(98, 6, 183);
}
header {
  margin-bottom: 30px;
}
form {
  padding: 26px;
  background-color: rgb(200, 143, 253);
  border-radius: 5px;
  display: flex;
}
footer {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
}
a {
  color: blueviolet;
}
.instructions {
  padding: 16px;
  width: 80%;
  border: none;
  border-radius: 5px;
  line-height: 1.5;
  color: black;
  font-size: 16px;
}
.poem {
  margin-top: 10px;
  font-size: 16px;
  background-color: rgb(200, 143, 253);
  padding: 20px;
  color: azure;
  line-height: 1.5;
  border-radius: 5px;
}
.hidden {
  display: none;
}
.submit-button {
  margin-left: 10px;
  background-color: azure;
  border: none;
  border-radius: 5px;
  padding: 16px;
  width: 100px;
  font-size: 16px;
  font-weight: 600;
}
